@charset "UTF-8";

.top_hero {
    position: relative;
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.top_hero .flex_column_figure {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 65%;
}

.top_hero .flex_column_text {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    text-align: center;
}

.top_hero .catch_copy {
    margin: 0 auto 20px auto;
    width: 50%;
}

.top_hero .h1_text {
    margin: 0 0 2em 0;
    font-size: 46px;
    letter-spacing: 0.1em;
}

.top_hero .catch {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.top_hero .fade-in_fast {
    animation: fadeInAnimation 3s ease-out forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: scale(0.05);
    }

    to {
        opacity: 1;
        transform: scale(1.0);
    }

}

.top_hero .fade-in_slow {
    animation: fadeInAnimation2 6s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes fadeInAnimation2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fuwafuwa {
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

@keyframes floating-y {
    0% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(2%);
    }
}

.top_merit {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
    padding: 100px 2%;
    border-radius: 16px;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .15);
}

.top_merit .flex_column_div {
    position: relative;
    width: 49%;
}

.top_merit .flex_column_figure {
    opacity: 0.8;
}

.top_merit .flex_column_text {
    padding: 1em 1em;
}

.top_merit h1 {
    margin: 0 0 1em 0;
    font-weight: 100;
    font-size: 240%;
}

.top_merit .swiper--wrapper {
    width: 100%;
}

.top_eichi {
    margin: 0 0 100px 0;
    padding: 1.0em 1.0em;
    border-radius: 16px;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .15);
}

.top_eichi h2 {
    margin: 0 0 1em 0;
    font-weight: 100;
    font-size: 220%;
}

.top_eichi .picked_up {
    margin: 1em 0;
    padding: 1em 0 1em 2em;
    border: 4px solid #B1BACF;
    border-radius: 20px;
}

.top_eichi .flex_set_figA {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.top_eichi .flex_set_figA .article_column {
    width: 48%;
}

.top_eichi #image-container {
    overflow: hidden;
    height: 90vh;
}

.top_eichi .test_absolute {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 100%;
    z-index: +1;
}

.top_eichi #image_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.top_eichi #image_wrap .img {
    width: 100%;
    height: 100%;
}

.top_eichi .relative_position {
    position: relative;
}

.top_eichi .absolute_position {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    opacity: 0.6;
}

.top_eichi iframe {
    width: 100%;
    height: 100vh;
    background: transparent;
}

.top_eichi .js_modalBtnCont {
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.top_how_to_join {
    margin: 0 0 100px 0;
    padding: 1.0em 1.0em;
    border-radius: 16px;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .15);
}

.top_how_to_join h2 {
    margin: 0 0 0.5em 0;
    font-weight: 100;
    font-size: 240%;
    letter-spacing: 0.1em;
}

.top_how_to_join h3 {
    margin: 0 0 0.5em 0;
}

.top_how_to_join .flex_set {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.top_how_to_join .flex_set .flex_set_child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 27%;
}

.top_how_to_join .article_column {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 70%;
}

.top_how_to_join .article_column .flex_column_picture {
    position: relative;
    width: 30%;
}

.top_how_to_join .article_column .flex_column_figure {
    padding: 1% 1%;
    /*opacity: 0.6;*/
}

.top_how_to_join .article_column .flex_column_text {
    width: 68%;
}

.top_how_to_join .article_column_child {
    margin: 0 0 2.0em 0;
    width: 100%;
}

.top_how_to_join .lead {
    font-size: 0.8em;
    text-align: center;
}

.top_how_to_join .bttn {
    display: block;
    margin: 0 auto;
    padding: 0.25em 2em;
    max-width: 200px;
    border: 1px solid #212121;
    border-radius: 32px;
    text-align: center;
    color: unset;
}

.top_how_to_join .bottom_tuning {
    margin-bottom: 1.0em;
}

.top_how_to_join .link_text_decoration {
    text-decoration: underline;
    color: #5670ad;
}

.top_faq {
    margin: 0 0 100px 0;
    padding: 1.0em 1.0em;
    border-radius: 16px;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, .15);
}

.top_faq h2 {
    margin: 0 0 1.0em 0;
    font-weight: 100;
    font-size: 240%;
    letter-spacing: 0.1em;
}

.top_faq dl {
    margin: 0 0 4.0em 0;
}

.top_faq dt {
    position: relative;
    margin: 0 0 25px 0;
    padding-left: 110px;
    font-size: 115%;
    font-weight: bold;
}

.top_faq dt::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100px;
    height: 75px;
    background: url(../img/icon_Q.png) center center / contain no-repeat;
    opacity: 0.5;
}

.top_faq dd {
    position: relative;
    /*text-indent: -1em;
    margin-left: 1em;*/
    padding-left: 150px;
}

.top_faq dd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 90px;
    background: url(../img/icon_A.png) center center / contain no-repeat;
    opacity: 0.5;
}