# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
#dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#others files
memo.txt
.env
biology_scaling/biology_scaling

art_matrix/art_matrix
art_matrix/art-matrix - データベース - データ - Firebase コンソール.url
art_matrix/guide.txt
art_matrix/植物園で出会う、新しい香り　BOTANISTが長居植物園で1日限定ポップアップ - PR EDGE.url
biology_scaling/0d85da6b-df9d-4fcb-9c46-f0c08a79a313.jpg
biology_scaling/bd3589b8-5cb7-4f7e-bcc8-abb9ab1b9281.jpg
biology_scaling/logo.psd
biology_scaling/logo060_01.webp
biology_scaling/裁縫用の定規・メジャーの無料アイコン素材 3.png
biology_scaling/地質時代 - Wikipedia.url
