.first_view.industry {
    .jelly_map {
    margin: 0 0 0 -18%;

    img {
      width: 60%;
      height: auto;
      object-fit: unset;
    }
  }

      .merit_and_demerit_block {
        width: 52%;

        .h3-float-wrap {
            overflow: hidden;
            margin: 0 0 1.0em;
        }

        .h3-float {
            float: left;
            width: fit-content;
            margin: 0 1em -0.25em 0;
            white-space: nowrap;
        }

        .h3-float-wrap p {
            margin: 0;
        }
    }
}

h1.industry_h1 {
    left: 0;
    font-size: 3.8rem;
    letter-spacing: 0;
}

.page_anchor_list {
    .industrial_control a {
        top: 31%;
        left: -5%;
        width: 18%;
        height: 15%;
    }
    .industrial_management a {
        bottom: 25%;
        left: -5%;
        width: 16%;
        height: 25%;
    }
    .agriculture a{
        top: 28%;
        left: 24%;
        width: 4%;
        height: 4%;
    }
    .forestry a{
        top: 28%;
        left: 29%;
        width: 3%;
        height: 4%;
    }
    .animal_husbandry a{
        top: 28%;
        left: 33.5%;
        width: 5%;
        height: 4%;
    }
    .fisheries a{
        top: 32%;
        left: 24%;
        width: 5%;
        height: 4%;
    }
    .mining a{
        top: 32%;
        left: 31%;
        width: 3%;
        height: 4%;
    }
    .energy_industry a{
        top: 36.5%;
        left: 24%;
        width: 9%;
        height: 3%;
    }
    .mechanical_engineering a{
        top: 48%;
        left: 24%;
        width: 8%;
        height: 4%;
    }
    .electrical_electronic_engineering a{
        top: 52%;
        left: 24%;
        width: 11%;
        height: 4%;
    }
    .civil_engineering a{
        top: 56%;
        left: 24%;
        width: 7%;
        height: 4%;
    }
    .architecture a{
        top: 56%;
        left: 32.5%;
        width: 5%;
        height: 4%;
    }
    .chemical_industry a{
        top: 60%;
        left: 24%;
        width: 7%;
        height: 4%;
    }
    .food_industry a{
        top: 60%;
        left: 32.5%;
        width: 7%;
        height: 4%;
    }
    .communication_transport a{
        bottom: 22%;
        left: 29%;
        width: 11%;
        height: 4%;
    }
    .materials_engineering a{
        bottom: 23%;
        left: 16.5%;
        width: 7%;
        height: 4%;
    }
    .applied_physics a{
        bottom: 19%;
        left: 16.5%;
        width: 6%;
        height: 3%;
    }
    .applied_chemistry a{
        bottom: 15.5%;
        left: 16.5%;
        width: 7%;
        height: 3%;
    }
}

.industry .merit_and_demerit_block {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 55%;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.80em;
    background-color: rgba(255, 255, 255, 0.5);
}