.first_view.linguistics {
    .jelly_map {
        margin: 0 0 0 -15%;

        img {
            width: 70%;
            height: auto;
            object-fit: unset;
        }
    }
}

h1.linguistics_h1 {
    left: 0%;
}

.page_anchor_list {
    .discourse a {
        top: 3%;
        left: -6%;
        width: 16%;
        height: 15%;
    }

    .acquisition a {
        top: 2%;
        left: 11%;
        width: 15%;
        height: 13%;
    }

    .grammar a {
        top: 21%;
        left: -5%;
        width: 12%;
        height: 15%;
    }

    .corpus a {
        top: 15%;
        left: 11%;
        width: 13%;
        height: 12%;
    }

    .philosophy a {
        top: 38%;
        left: -13%;
        width: 22%;
        height: 9%;
    }

    .individual a {
        top: 4%;
        left: 32%;
        width: 31%;
        height: 16%;
    }

    .writing a {
        top: 23%;
        left: 30%;
        width: 14%;
        height: 13%;
    }

    .sign a {
        top: 21%;
        left: 46%;
        width: 14%;
        height: 12%;
    }

    .body a {
        top: 35%;
        left: 46%;
        width: 14%;
        height: 9%;
    }

    .pragmatics a {
        bottom: 37%;
        left: -1%;
        width: 16%;
        height: 11%;
    }

    .syntax a {
        bottom: 41%;
        left: 17%;
        width: 15%;
        height: 12%;
    }

    .phonetics a {
        bottom: 37%;
        left: 39%;
        width: 20%;
        height: 11%;
    }

    .phonology a {
        bottom: 17%;
        left: 39%;
        width: 25%;
        height: 15%;
    }

    .lexical a {
        bottom: 1%;
        left: 13%;
        width: 25%;
        height: 29%;
    }

    .morphology a {
        bottom: 16%;
        left: -15%;
        width: 25%;
        height: 14%;
    }
}