.first_view.linguistics {
    .jelly_map {
    margin: 0 0 0 -5%;

    img {
      width: 65%;
      height: auto;
      object-fit: unset;
    }
  }
}

h1.art_h1 {
    left: 9%;
}

.page_anchor_list {
    .planar_modeling a {
        top: 13%;
        left: -2%;
        width: 27%;
        height: 25%;
    }
    .three_D_modeling a {
        bottom: 28%;
        left: -3%;
        width: 23%;
        height: 27%;
    }
    .literature a{
        top: 13%;
        left: 27%;
        width: 16%;
        height: 20%;
    }
    .communication_technique a{
        top: 39%;
        left: 22%;
        width: 23%;
        height: 17%;
    }
    .music a{
        top: 15%;
        left: 50%;
        width: 10%;
        height: 20%;
    }
    .cooking a{
        top: 39%;
        left: 50%;
        width: 9%;
        height: 21%;
    }
    .performing a{
        bottom: 14%;
        left: 46%;
        width: 16%;
        height: 24%;
    }
}