.first_view.mathematics {
    .jelly_map {
        margin: 0 0 0 -15%;

        img {
            width: 60%;
            height: auto;
            object-fit: unset;
        }
    }

    .merit_and_demerit_block {
        width: 52%;

        .h3-float-wrap {
            overflow: hidden;
            margin: 0 0 1.0em;
        }

        .h3-float {
            float: left;
            width: fit-content;
            margin: 0 1em -0.25em 0;
            white-space: nowrap;
        }

        .h3-float-wrap p {
            margin: 0;
        }
    }
}

h1.mathematics_h1 {
    left: 0%;
}

.page_anchor_list {
    .representation a {
        top: 18%;
        left: 0%;
        width: 7%;
        height: 15%;
    }

    .complex-analysis a {
        bottom: 41%;
        left: -2%;
        width: 10%;
        height: 18%;
    }

    .algebraic-analysis a {
        top: 41%;
        left: 9%;
        width: 7%;
        height: 14%;
    }

    .number-theory a {
        top: 33%;
        left: 19%;
        width: 9%;
        height: 11%;
    }

    .applied-mathematics a {
        top: 16%;
        left: 30%;
        width: 13%;
        height: 15%;
    }

    .algebraic-geometry a {
        top: 36%;
        left: 31%;
        width: 11%;
        height: 13%;
    }
    .differential-geometry a {
        bottom: 40%;
        left: 31%;
        width: 10%;
        height: 9%;
    }
    .algebra a {
        bottom: 32%;
        left: 17%;
        width: 8%;
        height: 15%;
    }
    .analysis a {
        bottom: 21%;
        left: 1%;
        width: 10%;
        height: 18%;
    }
    .geometry a {
        bottom: 23%;
        left: 31%;
        width: 8%;
        height: 11%;
    }
    .foundations a {
        bottom: 15%;
        left: 15%;
        width: 9%;
        height: 11%;
    }
}