.first_view.medicine {
    .jelly_map {
        margin: 0 0 0 -6%;

        img {
            width: 62%;
            height: auto;
            object-fit: unset;
        }
    }
}

h1.medicine_h1 {
    left: 0;
}

.page_anchor_list {
    .medical_law a {
        top: 13%;
        left: 2%;
        width: 10%;
        height: 23%;
    }

    .public_health a {
        top: 38%;
        left: 2%;
        width: 15%;
        height: 30%;
    }

    .anatomy a {
        bottom: 8%;
        left: 2%;
        width: 11%;
        height: 23%;
    }

    .clinical a {
        top: 33%;
        left: 18%;
        width: 17%;
        height: 24%;
    }

    .pathology a {
        bottom: 5%;
        left: 15%;
        width: 16%;
        height: 30%
    }

    .physiology a {
        bottom: 15%;
        left: 32%;
        width: 12%;
        height: 21%;
    }

    .pharmacology a {
        top: 11%;
        left: 35%;
        width: 19%;
        height: 29%;
    }

    .microbiology a {
        top: 42%;
        left: 41%;
        width: 10%;
        height: 16%;
    }

    .biochemistry a {
        bottom: 14%;
        left: 45.5%;
        width: 13%;
        height: 27%;
    }
}