.first_view.philosophy {
    .jelly_map {
    margin: 0 0 0 -20%;

    img {
      width: 55%;
      height: auto;
      object-fit: unset;
    }
  }

  .merit_and_demerit_block {
    width: 55%;

            .h3-float-wrap {
            overflow: hidden;
            margin: 0 0 0.5em;
        }

        .h3-float {
            float: left;
            width: fit-content;
            margin: 0 1em -0.25em 0;
            white-space: nowrap;
        }

        .h3-float-wrap p {
            margin: 0;
        }
  }
}

h1.philosophy_h1 {
    left: 0;
    font-size: 4.2rem;
}

.page_anchor_list {
    .art_studies a {
        top: 10%;
        left: -12%;
        width: 18%;
        height: 16%;
    }
    .philosophy_history a {
        top: 33%;
        left: -7%;
        width: 12%;
        height: 15%;
    }
    .religious_studies a{
        top: 20%;
        left: 4%;
        width: 22%;
        height: 12%;
    }
    .philosophy_of_science a{
        top: 41%;
        left: 11%;
        width: 11%;
        height: 10%;
    }
    .ethics a{
                top: 13%;
        left: 25%;
        width: 13%;
        height: 10%;

    }
    .logic a{
        top: 29%;
        left: 25%;
        width: 15%;
        height: 13%;
    }
}