.first_view.physics {
    .jelly_map {
    margin: 0 0 0 -5%;

    img {
      width: 65%;
      height: auto;
      object-fit: unset;
    }
  }
}

h1.physics_h1 {
    left: 5%;
}

.page_anchor_list {
    .elementary a {
        top: 16%;
        left: 7%;
        width: 17%;
        height: 12%;
    }
    .condensed a {
        top: 28%;
        left: 22%;
        width: 22%;
        height: 17%;
    }
    .math a{
        top: 18%;
        left: 41%;
        width: 12%;
        height: 10%;
    }
    .thermo a{
        top: 50%;
        left: 17%;
        width: 11%;
        height: 11%;
    }
    .fluid a{
        top: 51%;
        left: 31%;
        width: 8%;
        height: 8%;
    }
    .relativity a{
        bottom: 28%;
        left: 37%;
        width: 9%;
        height: 9%;
    }
    .em a{
        bottom: 31%;
        left: 13%;
        width: 7%;
        height: 7%;
    }
    .classical a{
        bottom: 21%;
        left: 25%;
        width: 8%;
        height: 5%;
    }
}