.first_view.society {
    .jelly_map {
    margin: 0 0 0 -20%;

    img {
      width: 55%;
      height: auto;
      object-fit: unset;
    }
  }
  .merit_and_demerit_block {
    width: 50%;
  }
}

h1.society_h1 {
    left: 0%;
}

.page_anchor_list {
    .composition a {
        top: 22%;
        left: -19%;
        width: 10%;
        height: 43%;
    }
    .positioning a {
        top: 25%;
        left: 5%;
        width: 16%;
        height: 35%;
    }
    .institution a{
        top: 25%;
        left: 28%;
        width: 16%;
        height: 31%;
    }
}